* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: linear-gradient(90deg, #333, #444);
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: white;
    font-size: 24px;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: #f4b400;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.btn1 {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #303030;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn2 {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #303030;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


.btn3 {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #303030;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn1:nth-child(1) {
    background-color: #6ef16e;
}

.btn2:nth-child(1) {
    background-color: #ff7070;
}

.btn3:nth-child(1) {
    background-color: #58ecec;
}

.btn1:hover {
    transform: scale(1.1);
    background-color: #26ce26;
}

.btn2:hover {
    transform: scale(1.1);
    background-color: #ff4545;
}

.btn3:hover {
    transform: scale(1.1);
    background-color: #13a0a0;
}

@media (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-right: 0;
        gap: 10px;
    }

    .logo h1 {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

    .container {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    .navbar {
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-links li {
        margin-bottom: 10px;
    }

    main {
        padding: 10px;
    }
}
